global
  log 127.0.0.1 local2
  maxconn 4000
  stats socket /var/lib/haproxy/stats

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout client-fin 1s
  timeout server 30s
  timeout server-fin 1s
  timeout http-request 10s
  timeout http-keep-alive 300s
  maxconn 3000
  
  # Long timeout for WebSocket connections.
  timeout tunnel 1h
  
# 6443 points to control plane
frontend {{ cluster_name }}-api
  bind *:6443
  default_backend master-api

backend master-api
  balance source
{% for server in groups.bootstrap %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:6443 check
{% endfor %}    
{% for server in groups.master %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:6443 check
{% endfor %}    


# 22623 points to control plane
frontend {{ cluster_name }}-mcs
  bind *:22623
  default_backend master-mcs

backend master-mcs
  balance source
{% for server in groups.bootstrap %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:22623 check
{% endfor %}
{% for server in groups.master %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:22623 check
{% endfor %}

# 80 points to worker nodes
frontend {{ cluster_name }}-http
  bind *:80
  default_backend ingress-http

backend ingress-http
  balance source
{% if not set_masters_unschedulable %}
{% for server in groups.master %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:80 check
{% endfor %}    
{% endif %}
{% for server in groups.worker  %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:80 check
{% endfor %}

# 443 points to worker nodes
frontend {{ cluster_name }}-https
  bind *:443
  tcp-request  inspect-delay 5s
  tcp-request content accept if { req_ssl_hello_type 1 }
  default_backend ingress-https

backend ingress-https
  balance source
{% if not set_masters_unschedulable %}
{% for server in groups.master %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:443 check inter 5000ms
{% endfor %}    
{% endif %}
{% for server in groups.worker  %}
  server {{ server }} {{ server }}.{{ cluster_name }}.{{ domain_name }}:443 check inter 5000ms
{% endfor %}
